.stApp {
    background-image: url("data:image/png;base64,{encoded_image}");
    background-size: cover;
    background-position: center;
}

.title-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
}


.title {
    color: white;
    font-size: 2.5em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}


.sidebar-title {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


.error-component {
    background-color: #e6e6e6;
    border-left: 10px solid #ff4b4b;
    margin: 60px 0px;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.33);
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #262730;
    font-size: 16px;
    line-height: 1.6;
}

.error-component strong {
    color: #990000; 
    font-weight: bold;
}
.error-component .help-text {
    color: #333333; 
}
.error-component .encouragement {
    color: #556b2f; 
}


.title-container {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.sidebar-title-container {
    background-color: #FFF; 
    padding: 0px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar-title {
    color: #262730;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}

.section-header {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.hr-style {
    margin-top: -1px;
    margin-bottom: 20px;
    border: none;
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1), rgba(255,0,0,0));
}

.smile-spinner-container {
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 19%);
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.smiley {
	width: 8em;
	height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
	animation: eye1 1.2s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
	transform-origin: 64px 64px;
}
.smiley__eye2 {
	animation-name: eye2;
}
.smiley__mouth1 {
	animation-name: mouth1;
    stroke: rgb(255, 255, 255)!important;
}
.smiley__mouth2 {
	animation-name: mouth2;
    stroke: rgb(255, 255, 255) !important;
	visibility: hidden;
}


@keyframes eye1 {
	from {
		transform: rotate(-260deg) translate(0, -56px);
	}
	50%,
	60% {
		animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
		transform: rotate(-40deg) translate(0, -56px) scale(1);
	}
	to {
		transform: rotate(225deg) translate(0, -56px) scale(0.35);
	}
}
@keyframes eye2 {
	from {
		transform: rotate(-260deg) translate(0, -56px);
	}
	50% {
		transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
	}
	52.5% {
		transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
	}
	55%,
	70% {
		animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
		transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
	}
	to {
		transform: rotate(150deg) translate(0, -56px) scale(0.4);
	}
}
@keyframes eyeBlink {
	from,
	25%,
	75%,
	to {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0);
	}
}
@keyframes mouth1 {
	from {
		animation-timing-function: ease-in;
		stroke-dasharray: 0 351.86;
		stroke-dashoffset: 0;
	}
	25% {
		animation-timing-function: ease-out;
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1, start);
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: -175.93;
		visibility: visible;
	}
	75%,
	to {
		visibility: hidden;
	}
}
@keyframes mouth2 {
	from {
		animation-timing-function: steps(1, end);
		visibility: hidden;
	}
	50% {
		animation-timing-function: ease-in-out;
		visibility: visible;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -351.86;
	}
}
